#!/bin/sh -e

cd `dirname $0`

rsync -Cacv --delete \
    --exclude="*.template" \
    conf/ /srv/lib/php/gpf.fuktommy.com/conf/

rsync -Cacv --delete htdocs/ /srv/www/gpf.fuktommy.com/
rsync -Cacv --delete libs/ /srv/lib/php/gpf.fuktommy.com/libs/
rsync -Cacv --delete plugins/ /srv/lib/php/gpf.fuktommy.com/plugins/
rsync -Cacv --delete templates/ /srv/templates/gpf.fuktommy.com/
