h1 a {
    text-decoration: none;
    color: #000;
}

body {
    padding: 0 20px;
}

h1 {
    font-size: 300%;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

a:hover {
    color: #000;
    background-color: #aaf;
}
